main {
  box-sizing: border-box;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 auto;
  max-width: 830px;
  padding: 56px 20px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  color: #212121;
}
h1 {
  font-size: 53px;
  font-weight: 500;
}
strong {
  font-weight: 400;
}
p {
  font-size: 25px;
}
a {
  font-size: 22px;
  color: #212121;
  font-weight: 400;
  transition: all 0.2s ease;
}
a:hover {
  color: #0097A7;
}
::selection {
  background: #4DD0E1;
}
::-moz-selection {
  background: #4DD0E1;
}
